<div class="banner"></div>
<div class="container mt-3">

<form action="/records/edit/{{record.id}}?_method=PUT" method="post">

  <div class="form-group row">
    <label for="playerName" class="col-sm-2 col-form-label">日期: </label>
    <div class="col-sm-6">
      <input type="text" value={{date record.date}} disabled></input>
    </div> 
  </div>

  <div class="form-group row">
    <label for="playerName" class="col-sm-2 col-form-label">關卡: </label>
    <div class="col-sm-6">
      <select type="text" id="scenariosId" name="scenariosId">
        {{#each scenarios}}
        <option value="{{this.id}}"
         {{#ifCond this.id ../record.ScenarioId}}
            selected
         {{/ifCond}} 
        >{{this.name}}</option>
        {{/each}}
      </select>
    </div> 
  </div>

  <div class="form-group row">
    <label for="playerName" class="col-sm-2 col-form-label">關主: </label>
    <div class="col-sm-6">
      <select type="text" id="hostId" name="hostId">
        {{#each player}}
        <option value="{{this.id}}"
          {{#ifCond this.id ../record.playerId}}
            selected
          {{/ifCond}} 
        >{{this.name}}</option>
        {{/each}}
      </select>
    </div> 
  </div>

  <div class="submit-btn">
    <button type="submit" class="btn btn-primary mt-3">確認修改</button>

    <a href="/records">回上一頁</a>
  </div>

</form>

<div class="text-center deleBtn">刪除這筆紀錄<form action="/records/{{record.id}}?_method=DELETE" method="POST"><button class="btn btn-link" onclick="return confirmDele()"><i class="fas fa-trash-alt"></i></button></form></div>

</div>

<script>
  function confirmDele() {
    
    if(window.confirm('確認刪除???刪掉是無法救回的唷')){
      return true
    } else {
      return false
    }
    
  }
</script>
